@{
    ViewBag.Title = "我的主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <ul class="breadcrumb">
        <li>
            <img class="bimg" src="/Content/Scripts/Plugs/Multiple/zTree-zTree_v3-master/zTree_v3/css/zTreeStyle/img/diy/1_open.png" /><a
                href="/">@ViewBag.Title</a>  </li>
    </ul>
</div>
<iframe src="http://www.baidu.com" frameborder="0" style=" width:90%; height:700px" ></iframe>
