@{
    ViewBag.Title = ViewBag.dt.name + "管理";
    if (PubMethod.IsWindow)
    {
        Layout = "~/Views/Shared/_LayoutWindow.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@using NFD.BLL
@using Trirand.Web.Mvc
@using COM.Extension
@model JQGrid
@section head{
    @Html.Partial("~/Views/Shared/_JqGridFiles.cshtml")
}
@if (!PubMethod.IsWindow)
{
<div>
    <ul class="breadcrumb">
        <li>
            <img class="bimg" src="/Content/Scripts/Plugs/Multiple/zTree-zTree_v3-master/zTree_v3/css/zTreeStyle/img/diy/1_open.png" />配置<a></a>>@ViewBag.Title
        </li>
    </ul>
</div>
}
@Html.Trirand().JQGrid((JQGrid)Model, "JQGrid1") 