<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Data.NFDDB.csdl|res://*/Data.NFDDB.ssdl|res://*/Data.NFDDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Test;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NFDEntities" connectionString="metadata=res://*/Data.NDF.csdl|res://*/Data.NDF.ssdl|res://*/Data.NDF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=NFD;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>